<% flash.each do |message_type, message| %>
    <div class="<%= message_type == 'success' ? 'bg-green-500 text-white' : 'bg-red-500 text-white' %> p-4  rounded w-full z-0">
      <%= message %>
    </div>
<% end %>
  