<div class='container px-5 py-24 mx-auto text-center'>
    <div class="flex flex-wrap justify-center m-4">
        <div class="w-full">
            <h1 class="text-2xl">みんなのおすすめスポット</h1>
        </div>
        <% if @posts.present? %>
            <%= render @posts %>
        <% else %>
            <div class="text-lg m-auto mt-20">投稿はありません</div>
        <% end %>
    </div>
</div>
