<div class='container px-5 py24 mx-auto pt-80'>
    <div class="flex flex-wrap m-4 ">
        <% if @posts.present? %>
            <%= render @posts %>
        <% else %>
            <div class= 'text-lg m-auto font-Kaisei'>投稿はありません</div>
        <% end %>
    </div>
</div>